@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === ROOT VARIABLES=== */
:root {
    /* Main Colors */
    --color-primary: #FFFFFF;
    --color-secondary: #18B26F;
    --color-accent-dark: #0C5A38;
    --color-accent-light: #B6E9AF;
    --color-accent-yellow: #FCDC31;

    /* Neutral Colors*/
    --color-black: #1C1C1C;
    --color-black-light: #262626;
    --color-text-body: #383838;
    --color-text-muted: #9EA0A4;
    --color-bg-light: #F4F4F4;
    --color-border: #E0E0E0;
    --color-heading-text: #212934;
    --color-footer-bg: #171717;

    /* box */
    --box-radius: 20px;
    --gap-default: 30px;

    /* Typography */
    --font-family: "Bricolage Grotesque", sans-serif;
    --font-default-size: 17px;
    /* Typography body text*/
    --typography-body1-date-font-size: 34px;
    --typography-body1-hero_subtitle-font-size: 28px;
    --typography-body1-vector_subtitle-font-size: 24px;
    --typography-body2-subherding_banner-font-size: 23px;
    --typography-body3-banner_body_text-font-size: 22px;
    --typography-body4-card_body_text-font-size: 19px;
    --typography-body5-card_body_text-font-size: 18px;
    --typography-body6-body_text-font-size: 17px;
    --typography-body7-banner_text-font-size: 16px;
    --typography-body8-sector_cards_subtitle-font-size: 14px;
    /* Typography button text*/
    --typography-button-font-size: 17px;
    /* Weight & Spacing */
    --fw-light: 300;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --ls-tight: -0.015em;
    --ls-normal: -0.010em;

    /* button */
    --btn-yellow: var(--color-accent-yellow);
    --btn-white: var(--color-primary);
    --btn-dark-green: var(--color-accent-dark);
    --btn-green: var(--color-secondary);
    --btn-light-green: var(--color-accent-light);
    --btn-black-light: var(--color-black-light);
    /* button padding*/
    --btn-padding-default: 20px 32px;
    --btn-padding-large: 23px 36px;
    --btn-text-field-padding: 17px;
    /* button radius */
    --btn-radius: 8px;

    /* Breakpoints */
    --breakpoint-mobile: 820px;
    --breakpoint-tablet: 1200px;
    --breakpoint-desktop: 1440px;
}

/* === ROOT VARIABLES === */

/* === Body Default Setting === */
body {
    font-family: var(--font-family);
    color: var(--color-black);
    letter-spacing: -0.015em;
    background: var(--color-primary);
    font-size: var(--font-default-size);

}

/* === Body Default Setting === */

header {
    display: flex;
    justify-content: space-between;
    background-color: #F7FEF6;
    padding: 0px 72px;
    align-items: center;
}

header img {
    border-radius: 0%;
}

/* === Navigation Menu === */
#main-menu {
    width: 500px;
    flex-wrap: no-wrap;
}

.row-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap-default);
}

.menu-item a {
    color: var(--color-menu-text);
    font-weight: var(--fw-medium);
}

.menu-item a:hover {
    text-decoration: underline 1px var(--color-secondary);
    text-underline-offset: 10px;
}

.menu-active a {
    text-decoration: underline 1px var(--color-secondary);
    text-underline-offset: 10px;
}

.submenu-item {
    opacity: 0;
    position: absolute;
    transition: all 0.5s;
    top: 10%
}

.submenu-item a {
    display: block;
    padding: 26px 24px;
}

.has-submenu-item:hover>.submenu-item {
    opacity: 1;
    background-color: var(--color-primary);
    box-shadow: #1C1C1C 0px 0px 50px -30px;
    border-radius: var(--btn-radius);
    overflow: hidden;
}

a.submenu-item-hover:hover {
    background-color: #F7FEF6;
}

img.logo {
    width: 190px;
    height: 63px;
}

.header-right {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: var(--gap-default);
}

img.burger-menu {
    width: 37px;
    height: 23px;
}


/* ===  TYPOGRAPHY Heading Setting  === */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--fw-medium);
    letter-spacing: var(--ls-tight);
    text-transform: capitalize;
}

h1,
h2,
h4,
h5,
h6 {
    text-transform: capitalize;
}

h1,
h2,
h3 {
    line-height: 1.3;
}

h4 {
    line-height: 1.6;
}

h5,
h6 {
    line-height: 1.4;
}

h1 {
    font-size: 56px;
    color: var(--color-primary);
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
    color: var(--color-black);
}

h6 {
    font-size: 18px;
}

/* ===  TYPOGRAPHY Heading Setting  === */

/* ===  TYPOGRAPHY Body Text Setting  === */
p {
    color: var(--color-text-body);
}

p.body1.date {
    font-size: var(--typography-body1-date-font-size);
    font-weight: var(--fw-medium);
}

p.body1.hero_subtitle {
    font-size: var(--typography-body1-hero_subtitle-font-size);
    font-weight: var(--fw-medium);
}

p.body1.vector_subtitle {
    font-size: var(--typography-body1-vector_subtitle-font-size);
    font-weight: var(--fw-medium);
}

p.body2 {
    font-size: var(--typography-body2-subherding_banner-font-size);
    font-weight: var(--fw-light);
}

p.body3 {
    font-size: var(--typography-body3-banner_body_text-font-size);
    font-weight: var(--fw-normal);
}

p.body4 {
    font-size: var(--typography-body4-card_body_text-font-size);
    font-weight: var(--fw-normal);
}

p.body5 {
    font-size: var(--typography-body5-card_body_text-font-size);
    font-weight: var(--fw-medium);
}

p.body6 {
    font-size: var(--typography-body6-body_text-font-size);
    font-weight: var(--fw-bold);
}

p.body7 {
    font-size: var(--typography-body7-banner_text-font-size);
    font-weight: var(--fw-light);
}

p.body8 {
    font-size: var(--typography-body8-sector_cards_subtitle-font-size);
    font-weight: var(--fw-light);
}

.text-center {
    text-align: center;
}

/* ===  TYPOGRAPHY Body Text Setting  === */

/* === Links === */
a {
    /*
    color: var(--color-heading-text);
    font-size: var(--font-default-size);
    font-weight: var(--fw-bold);
    letter-spacing: var(--ls-normal);
    line-height: 1.0;*/
    text-decoration: none;
}

/* === Images✔ === */
img {
    max-width: 100%;
    border-radius: 20px;
}

/* === Icons === */

/* === Buttons === */
.card.button {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    width: fit-content;
    padding: var(--btn-padding-default);
    border-radius: var(--btn-radius);
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.btn a {
    color: var(--color-black);
    font-size: var(--typography-button-font-size);
    font-weight: var(--fw-bold);
    letter-spacing: var(--ls-tight);
}

/* === Buttons 1 === */
.btn.btn_yellow-to-dark-green {
    background-color: var(--color-accent-yellow);
}

.btn.btn_yellow-to-dark-green:hover {
    background-color: var(--color-accent-dark);
}

.btn.btn_yellow-to-dark-green:hover a {
    color: var(--color-primary);
}

/* === Buttons 1 === */

/* === Buttons 2 === */
.btn.btn_yellow-to-green {
    background-color: var(--color-accent-yellow);
}

.btn.btn_yellow-to-green:hover {
    background-color: var(--color-secondary);
}

.btn.btn_yellow-to-green:hover a {
    color: var(--color-primary);
}

/* === Buttons 2 === */

/* === Buttons 3 === */
.btn.btn_light-green-to-white {
    background-color: var(--color-accent-light);
}

.btn.btn_light-green-to-white:hover {
    background-color: var(--color-primary);
}

/* === Buttons 3 === */

/* === Buttons 4 === */
.btn.btn_green-to-dark-green {
    background-color: var(--color-accent-light);
}

.btn.btn_green-to-dark-green:hover {
    background-color: var(--color-accent-dark);
}

.btn.btn_green-to-dark-green:hover a {
    color: var(--color-primary);
}

/* === Buttons 4 === */

/* === Buttons 5 === */
.btn.btn_black-to-yellow {
    background-color: var(--color-black);
}

.btn.btn_black-to-yellow:hover {
    background-color: var(--color-accent-yellow);
}

.btn.btn_black-to-yellow:hover a {
    color: var(--color-primary);

}

a.btn_white_font {
    color: var(--color-primary);
}

a.btn_white_font:hover {
    color: var(--color-black);
}

/* === Buttons 5 === */

.btn-outline {
    background: transparent;
    color: var(--color-text-dark);
    border: 2px solid var(--color-primary);
}

.btn-underline {
    background: transparent;
    color: var(--color-black);
    border: none;
    box-shadow: 0px 2px 0px var(--color-black);
}

.btn:hover:after {
    content: "→";
    rotate: 45deg;
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
}

.btn.white-arrow:hover:after {
    color: var(--color-primary);
}

.btn-full-width {
    display: block;
    margin: auto;
}

.btn-transparent {
    border-radius: 0px 0px 0px 0px;
}

/*
/* === Layout === */


/*
.column-two {
    width: calc(50% - calc(var(--gap) / 2));
}

.column-three {
    width: calc(33.33% - calc(var(--gap) * 2 / 3));
}

.column-four {
    width: calc(25% - calc(var(--gap) * 3 / 4));
}
    
.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
*/

.card {
    background-color: var(--color-border);
    border-radius: var(--box-radius);
    padding: 40px;
    margin: 40px 20px;
}

.max-width {
    margin: 40px auto !important;
    max-width: 1080px;
}

div.SENDMESSAGE_green-to-black {
    width: 100%;
    background: var(--color-secondary);
    color: #fff;
    padding: var(--btn-padding-large);
    border-radius: var(--btn-radius);
    border: none;
    cursor: pointer;
    margin: 10px 10px 10px 0px;
    text-align: center;
    font-size: var(--typography-button-font-size);
    font-weight: var(--fw-medium);
    letter-spacing: var(--ls-tight);
}


/* === Form Elements === */
input[type="text"],
textarea {
    border: none;
    border-radius: var(--btn-radius);
    border-bottom: 2px solid var(--color-border-line);
    padding: 17px;
    width: 100%;
    margin: 10px 0px;
    font-size: var(--font-default-size);
}

textarea {
    min-height: 100px;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
}

/* === Screen: Tablet  === */
@media only screen and (max-width: 1200px) {

    #main-menu {
        display: none;
    }
}

/* === Layout === */
/*
    .column-two,
    .column-three {
        width: 100%;
    }

    .column-four {
        width: calc(50% - calc(var(--gap) / 2));
    }
*/

/* === Screen: Mobile  === */
@media only screen and (max-width: 820px) {

    /* === Layout === */
    .column-four {
        width: 100%;
    }
}