 /*casestudies_intro*/
 div.casestudies_bar {
     display: flex;
     gap: 50px;
     height: 100px;
     align-items: center;
     margin: 40px 0;
 }

 div.casestudies_title {
     background-color: #B9FF66;
     font-size: 40px;
     font-weight: 500;
     text-align: center;
     padding: 2px 8px;
     border-radius: 10px;
 }

 div.casestudies_intro {
     font-size: 20px;
     width: 770px;
     align-items: center;
 }

 /*casestudies_intro*/
 /*casestudies_card*/
 div.casestudies_block_card {
     display: flex;
     justify-content: space-between;
     background-color: black;
     padding: 60px;
     box-shadow: 0px 5px;
     border-radius: 50px;
     margin: 40px 0;
     margin-bottom: 100px;
 }

 div.casestudies_card_intro {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: auto;
     height: 186px;
 }

 div.casestudies_card_intro_learnmore {
     display: flex;
     gap: 10px;
     height: 28px;
 }

 div.casestudies_card_intro_text {
     font-size: 20px;
     width: 320px;
     height: auto;
     color: white;
 }

 div.casestudies_card_intro_learnmore img {
     width: auto;
     height: auto;
 }

 div.casestudies_card_intro_learnmore_text {
     font-size: 22px;
     color: #B9FF66;
 }

 div.casestudies_card_intro_line {
     width: 1px;
     height: auto;
     background-color: white;
     margin: 0 20px;
 }

 /*casestudies_card*/
 /*ourworkingprocess_intro*/
 div.ourworkingprocess_bar {
     display: flex;
     gap: 50px;
     height: 100px;
     align-items: center;
     margin: 40px 0;
 }

 div.ourworkingprocess_title {
     background-color: #B9FF66;
     font-size: 40px;
     font-weight: 500;
     text-align: center;
     padding: 2px 8px;
     border-radius: 10px;
 }

 div.ourworkingprocess_intro {
     font-size: 20px;
     width: 770px;
     align-items: center;
 }

 /*ourworkingprocess_intro*/
 /*ourworkingprocess_card*/
 div.ourworkingprocess_block_card_green {
     background-color: #B9FF66;
     border: 2px solid #000000;
     padding: 60px;
     box-shadow: 0px 5px;
     border-radius: 50px;
     margin-bottom: 20px;
 }

 div.ourworkingprocess_block_card {
     background-color: #F3F3F3;
     border: 2px solid #000000;
     padding: 60px;
     box-shadow: 0px 5px;
     border-radius: 50px;
     margin-bottom: 20px;
 }

 div.ourworkingprocess_line {
     width: auto;
     height: 1px;
     background-color: rgb(0, 0, 0);
     margin: 20px 0;
 }

 div.ourworkingprocess_card_text {
     font-size: 20px;
 }

 /*tocopy*/
 div.ourworkingprocess_block_card_content {
     display: flex;
     justify-content: space-between;
     height: 60px;
 }

 div.ourworkingprocess_card_intro_content {
     display: flex;
     gap: 25px;
     align-items: center;
 }

 div.ourworkingprocess_card_intro_content_number {
     font-size: 60px;
     font-weight: 500;
 }

 div.ourworkingprocess_card_intro_content_title {
     font-size: 30px;
     font-weight: 500;
 }

 /*tocopy*/

 /*ourworkingprocess_card*/
 /*team_intro*/
 div.team_bar {
     display: flex;
     gap: 50px;
     height: 100px;
     align-items: center;
     margin-top: 100px;
 }

 div.team_title {
     background-color: #B9FF66;
     font-size: 40px;
     font-weight: 500;
     text-align: center;
     padding: 2px 8px;
     border-radius: 10px;
 }

 div.team_intro {
     font-size: 20px;
     width: 770px;
     align-items: center;
 }

 /*team_intro*/
 /*team_card*/
 div.team_block_card_up {
     display: flex;
     justify-content: space-between;
     gap: 30px;
     margin-top: 40px;
 }

 div.team_block_card_down {
     display: flex;
     justify-content: space-between;
     gap: 30px;
     margin-top: 40px;
 }

 div.team_card {
     background-color: #ffffff;
     border: 2px solid #000000;
     border-radius: 50px;
     box-shadow: 0px 5px;
     width: 30%;
     padding: 40px;
 }

 div.team_card_header {
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
 }

 div.team_card_profile {
     display: flex;
     gap: 20px;
     align-items: flex-end;
 }

 img.profile_img {
     width: 100px;
     /* 固定头像宽度 */
     height: auto;
 }

 div.member_name {
     font-size: 20px;
     font-weight: 600;
 }

 div.member_title {
     font-size: 16px;
 }

 div.team_card_line {
     border-top: 1px solid;
     margin: 28px 0;
 }

 div.team_card_intro {
     font-size: 18px;
     line-height: 1.4;
 }

 div.see_all_team {
     display: flex;
     justify-content: flex-end;
     margin-top: 40px;
 }

 button.see_all_team {
     background-color: #191A23;
     color: white;
     padding: 20px 70px;
     border-radius: 14px;
     font-size: 20px;
     cursor: pointer;
 }

 @media screen and (max-width:1350px) {
     div.yee {
         display: none;
     }
 }

 @media screen and (max-width:1080px) {
     div.yee {
         display: none;
     }
 }