/* --- 内容 1--- */
div.content1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    gap: 50px;
}

h1.content_title {
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 20px;
}

p.intro {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    max-width: 500px;
}

button.booking_btn {
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 14px;
    padding: 20px 35px;
    border: none;
}

div.illus {
    width: 50%;
}

/* --- 内容 1--- */
/* --- 内容 2--- */
div.content2 h1.content_title {
    font-size: 50px;
    margin-bottom: 30px;
}

div.content2 div.illus {
    width: 100%;
    margin-bottom: 30px;
}

div.content2 p.intro {
    font-size: 18px;
    max-width: 100%;
    margin-bottom: 40px;
}

button.booking2_btn {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 14px;
    padding: 20px;
    border: none;
}

/* --- 内容 2--- */
/* --- 隐藏--- */
div.content2 {
    display: none;
}

/* --- 隐藏--- */
/* --- 公司 logo 1 --- */
div.company1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    flex-wrap: wrap;
}

div.company_logo img {
    max-width: 120px;
}

/* --- service_intro --- */
div.service_bar {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 60px 0;
}

div.service_title {
    background-color: #B9FF66;
    font-size: 40px;
    font-weight: 500;
    padding: 2px 10px;
    border-radius: 10px;
    white-space: nowrap;
}

div.service_intro {
    font-size: 18px;
    max-width: 580px;
}

/* --- service_card --- */
div.service_container {
    width: 100%;
    padding: 20px 0;
}

div.block {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 40px;
}

div.card {
    display: flex;
    width: 50%;
    min-height: 310px;
    padding: 50px;
    border: 2px solid black;
    border-radius: 45px;
    box-shadow: 0px 5px 0px black;
    justify-content: space-between;
    align-items: center;
}

div.card_gray {
    background-color: #F3F3F3;
}

div.card_green {
    background-color: #B9FF66;
}

div.card_dark {
    background-color: #191A23;
}

div.card_line_green {
    background-color: #B9FF66;
    display: table;
    font-size: 26px;
    font-weight: 600;
    padding: 0 5px;
    border-radius: 7px;
    margin-bottom: 2px;
}

div.card_line_white {
    background-color: #ffffff;
    display: table;
    font-size: 26px;
    font-weight: 600;
    padding: 0 5px;
    border-radius: 7px;
    margin-bottom: 2px;
}

div.under {
    margin-top: -3px;
}

div.card_intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

div.card_font,
div.card_font_white {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    font-weight: 500;
}

div.card_font {
    color: black;
}

div.card_font_white {
    color: white;
}

div.card_img {
    width: 41px;
    display: flex;
    align-items: center;
}

div.card_img_illus {
    width: 210px;
    display: flex;
    justify-content: center;
}

/* --- CTA --- */
div.block_card4 {
    display: flex;
    background-color: #F3F3F3;
    border-radius: 45px;
    padding: 60px;
    margin: 100px 0;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
}

div.block_card4_intro {
    width: 50%;
}

h2.block_card4_font {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #000;
}

p.block_card4_p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 35px;
    max-width: 450px;
}

button.getfree {
    background-color: #191A23;
    color: #fff;
    font-size: 20px;
    padding: 20px 35px;
    border: none;
    border-radius: 14px;
}

div.block_card4_illus {
    width: 380px;
    margin-top: -100px;
    margin-bottom: -100px;
}

@media screen and (max-width:1350px) {
    div.header_container {
        display: none;
    }

    div.mobile.menu {
        display: block;
        width: 30px;
        height: 30px;
    }

    div.company {
        gap: 50px;
    }

    div.company_logo img {
        margin: 10px 0;

    }

    div.company_logo img {
        max-width: 200px;
        width: 200px;
    }
}

/* --- mobile styles --- */
@media screen and (max-width: 1080px) {
    div.content1 {
        display: none;
    }

    div.content2 {
        display: block;
        padding: 20px 0;
    }

    div.header_bar_logo {
        width: 180px;
    }

    div.header_logo {
        width: 20px;
        height: 20px;
    }

    div.logo_text {
        font-size: 30px;
    }

    div.block {
        flex-direction: column;
        gap: 30px;
    }

    div.card {
        width: 100%;
        padding: 40px;
    }

    div.block_card4 {
        flex-direction: column;
        padding: 40px;
        text-align: center;
    }

    div.block_card4_intro {
        width: 100%;
    }

    div.block_card4_illus {
        display: none;
    }

    div.service_bar {
        display: none;
    }

    div.service_container {
        display: none;
    }

    div.block_card4 {
        display: none;
    }
}