@import url("common/common-variables.css");

.main-hero-section {
    width: 100%;
    height: 737px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0)),
        url('../assets/img/avada-recruitment-06.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin: 40px 0;
    overflow: hidden;
    padding: 195px 109px;
}

.index-section2-arrow {
    color: var(--color-secondary-green);
}

.section-header {
    margin-bottom: 60px;
}

.main-button-group .btn {
    margin: 0 10px 0 0;
}

.section-header p {
    margin-bottom: 30px;
}

.two-section-card-part {
    display: flex;
    gap: var(--gap-default);
}

.sector-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 66px 40px;
    border: 1px solid rgba(158, 160, 164, 0.5);
    border-radius: var(--card-radius-default);
    background-color: var(--color-primary-white);
    transition: all 0.3s ease;
}

.sector-card ul li i {
    margin-right: 5px
}

.sector-card:hover {
    border: 1px solid rgba(158, 160, 164, 1);
}

.card-icon img {
    width: 80px;
    border-radius: 0%;
}

.sector-card-title-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sector-list {
    list-style: none;
}

.sector-list li {
    margin-bottom: 10px;
}

.section-three {
    background-color: var(--color-white-light);
    border-radius: var(--card-radius-default);
    padding: 107px 30px 80px 30px;
    position: relative;
    z-index: -3;
}

.position {
    position: relative;
    z-index: 3;
}

.employee-card {
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.employee-image img {
    width: 100%;
    display: block;
}

.employee-image {
    max-width: 280px;
}

.employee-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: auto;
    padding: 0px 20px;
    margin: 10px;
}

.section-four {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-container {
    width: 70%;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-question {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    cursor: pointer;
}

.banner-bodytext-l,
.faq-icon {
    transition: all 0.3s;
}

.faq-question:hover .banner-bodytext-l {
    color: var(--color-secondary-green);
    text-decoration: underline 1px var(--color-secondary-green);
}

.faq-icon {
    color: var(--color-btn-text-black);
    font-size: var(--bdt-banner-bodytext-l-font-size);
    background-color: var(--color-accent-yellow-light);
}

.faq-question:hover .faq-icon {
    background-color: var(--color-secondary-green);
}

.faq-line {
    width: 100%;
    height: 2px;
    background-color: var(--color-white-light)
}

.main-button-group-tb-mb,
.main-hero-content-tb-mb {
    display: none;
}

@media only screen and (max-width: 1200px) {

    .main-button-group,
    .main-hero-content {
        display: none;
    }

    .main-button-group-tb-mb,
    .main-hero-content-tb-mb {
        display: block;
    }

    .main-hero-section {
        height: 698px;
        margin: auto;
        margin-top: 40px;
    }


    .main-hero-section-tb-mb {
        margin: 40px 0px;
    }

    .main-hero-container-tb-mb {
        background-color: var(--color-white-light);
        padding: 70px 100px;
        border-radius: 20px;
        margin: auto;
        overflow: hidden;
    }

    .main-hero-content-tb-mb {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    .main-button-group-tb-mb {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }


    .employee-image {
        max-width: 100%;
        width: 80%;
    }
}

@media only screen and (max-width: 820px) {
    .main-hero-section {
        height: 593px;
    }

    .main-hero-container-tb-mb {
        padding: 30px 10px;
    }

    .employee-card-container {
        flex-direction: column;
        align-items: center;
    }

    .two-section-card-part {
        flex-direction: column;
        gap: 20px;
    }
}