/* section_one */

.section_one {
    width: 100%;
    padding: 96px 110px 0;
    display: flex;
    justify-content: center;
}

.container_one {
    width: 100%;
    max-width: 1440px;
    padding: 0 30px;
}

.content_group {
    display: flex;
    align-items: stretch;
    gap: 38px;
    overflow: hidden;
}

.image_column {
    flex: 65%;
}

.image_column img {
    width: 100%;
    height: 540px;
    object-fit: cover;
    display: block;
}

.info_column {
    flex: 32%;
    background-color: var(--color-mint-green);
    border-radius: 20px;
    padding: 40px 56px;
    display: flex;
    align-items: center;
}

.info_content {
    width: 100%;
}

.overview_title {
    font-size: var(--hd-ctasecondtitle-font-size);
    font-weight: var(--hd-medium-font-weight);
    letter-spacing: var(--hd-letter-spacing);
    line-height: var(--line-height-heading-normol);
    color: var(--color-body-text-black);
    margin-bottom: 25px;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.overview_title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 10px;
    background-color: #fdf59a;
    z-index: -1;
}

.overview_text {
    font-size: var(--bdt-profile-info-font-size);
    font-weight: var(--bdt-light-font-weight);
    letter-spacing: var(--bdt-tight-letter-spacing);
    line-height: var(--line-height-heading-extra);
    color: var(--color-body-text-black);
    margin-bottom: 40px;
}

.section_one_detail {
    margin-bottom: 35px;
}

.detail_title {
    display: block;
    font-size: var(--bdt-profile-info-font-size);
    font-weight: var(--hd-medium-font-weight);
    letter-spacing: var(--hd-letter-spacing);
    line-height: var(--line-height-heading-normol);
    color: var(--color-heading-text-black);
    text-decoration: underline;
    margin-bottom: 12px;
}

.detail_text {
    font-size: var(--bdt-btn-font-size);
    font-weight: var(--bdt-light-font-weight);
    letter-spacing: var(--bdt-tight-letter-spacing);
    color: var(--color-heading-text-black);
    margin-bottom: 30px;
}

.highlight {
    color: var(--color-secondary-green);

}

.highlight:hover {
    color: var(--color-body-text-black);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    transition: all 0.3s ease;
}



/* section_two */

.section_two {
    width: 100%;
    padding: 96px 110px 0;
    display: flex;
    justify-content: center;
}

.container_two {
    width: 100%;
    max-width: 1440px;
    padding: 0 30px;
}

.section_two_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
}

.sub_title {
    font-size: var(--bdt-card-bodytext-font-size);
    font-weight: var(--bdt-regular-font-weight);
    letter-spacing: var(--bdt-tight-letter-spacing);
    color: var(--color-body-text-black);
    margin-bottom: 25px;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.sub_title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 8px;
    background-color: color-mix(in srgb, var(--color-yellow), transparent 60%);
    z-index: -1;
}

.main_title {
    font-size: var(--hd-maintitle-font-size);
    font-weight: var(--hd-medium-font-weight);
    letter-spacing: var(--hd-letter-spacing);
    line-height: var(--line-height-heading-light);
    color: var(--color-heading-text-black);
    margin-top: 15px;
}

.news_grid {
    display: flex;
    gap: 30px;
}

.grid_column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.news_card {
    background: var(--color-white-light);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card_image {
    position: relative;
    height: 357px;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.date_badge {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: var(--color-yellow);
    padding: 10px 15px;
    margin: 0 22.5px;
    height: 88px;
    width: 82px;
    border-radius: 12px;
    text-align: center;
    font-size: var(--bdt-date-font-size);
    font-weight: var(--bdt-medium-font-weight);
    letter-spacing: var(--bdt-extratight-letter-spacing);
    line-height: var(--line-height-heading-light);
    color: var(--color-body-text-black);
}

.date_badge span {
    display: block;
    font-size: var(--bdt-btn-font-size);
    font-weight: var(--bdt-light-font-weight);
    letter-spacing: var(--bdt-tight-letter-spacing);
}

.card_content {
    padding: 40px;
}

.card_content:hover {
    background-color: var(--color-mint-green);
    transition: all 0.5Ss ease;
}

.card_content h3 {
    font-size: var(--bdt-banner-subtitle-font-size);
    font-weight: var(--hd-medium-font-weight);
    letter-spacing: var(--hd-letter-spacing);
    line-height: var(--line-height-heading-light);
    color: var(--color-heading-text-black);
    margin: 8px 0 24px;
}

.category {
    color: var(--color-body-text-black);
}


.bg_purple {
    background-color: var(--color-purple);
}

.bg_dark_green {
    background-color: var(--color-green);
}

.bg_grey {
    background-color: var(--color-black-light);
}

.bg_purple h3,
.bg_dark_green h3,
.bg_grey h3,
.category_light {
    color: var(--color-heading-text-white);
}

.category_light,
.author,
.category {
    font-size: var(--bdt-profile-info-font-size);
    font-weight: var(--bdt-light-font-weight);
    letter-spacing: var(--bdt-tight-letter-spacing);
    margin: 8px 0 24px;
}

.category_light {
    color: var(--color-heading-text-white);
}

.author {
    color: var(--color-gray-light);
}



/* section_three */

.section_three {
    width: 100%;
    padding: 96px 110px 0;
    display: flex;
    justify-content: center;
}

.container_three {
    width: 100%;
    max-width: 1440px;
    padding: 0 30px;
}

.blog_list_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 80px;
}

.blog_item {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.blog_img {
    flex: 0 0 255px;
    height: 245px;
}

.blog_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.blog_info {
    flex: 1;
    padding-top: 10px;
}

.blog_meta {
    font-size: var(--bdt-profile-info-font-size);
    font-weight: var(--bdt-light-font-weight);
    letter-spacing: var(--bdt-tight-letter-spacing);
    color: var(--color-body-text-black);
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid;
    border-color: var(--color-gray-normal);
}

.blog_meta .author,
.blog_meta .category {
    color: var(--color-secondary-green);
}

.blog_meta .category:hover {
    color: var(--color-body-text-black);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    transition: all 0.3s ease;
}

.blog_title {
    font-size: var(--bdt-banner-subtitle-font-size);
    font-weight: var(--hd-medium-font-weight);
    letter-spacing: var(--hd-letter-spacing);
    line-height: var(--line-height-heading-light);
    color: var(--color-heading-text-black);
}

.blog_title:hover {
    color: var(--color-body-text-black);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}



@media (max-width: 1200px) {
    .section_one {
        padding: 96px 30px 0;
    }

    .container_one {
        max-width: 1200px;
    }

    .content_group {
        gap: 30px;
    }

    .image_column {
        flex: 0 0 62%;
    }

    .image_column img {
        height: 100%;
    }

    .info_column {
        flex: 1;
        height: auto;
    }



    /* section_two */

    .section_two {
        padding: 96px 30px 0;
    }

    .container_two {
        max-width: 1200px;
        padding: 0;
    }

    .news_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 45px;
    }

    .card_image {
        height: 520px;
    }

    .date_badge {
        width: 133px;
        right: 15px;
        bottom: 15px;
        padding: 8px 10px;
    }



    /* section_three */

    .section_three {
        padding: 96px 30px 0;
    }

    .container_three {
        max-width: 100%;
        padding: 0;
    }


    .blog_list_grid {
        column-gap: 60px;
        row-gap: 60px;
    }

    .blog_img {
        flex: 0 0 43%;
        height: 100%;
    }

}


@media (max-width: 820px) {
    .section_one {
        padding: 96px 30px 0;
    }

    .container_one {
        max-width: 100%;
        padding: 0;
    }

    .content_group {
        flex-direction: column;
        gap: 40px;
    }

    .image_column {
        flex: 0 0 100%;
    }

    .image_column img {
        height: auto;
        aspect-ratio: 4 / 3;
    }

    .info_column {
        flex: 0 0 100%;
    }



    /* section_two */

    .section_two {
        padding: 96px 30px 0;
    }

    .container_two {
        max-width: 100%;
    }

    .section_two_header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .main_title {
        font-size: var(--mb-hd-maintitle-font-size);
        margin-bottom: 15px;
    }

    .btn {
        display: none;
    }

    .news_grid {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .card_image {
        height: 760px;
    }

    .date_badge {
        width: 277px;
        padding: 10px 15px;
        right: 56px;
        bottom: 30px;
    }




    /* section_three */

    .section_three {
        padding: 96px 30px 0;
    }

    .container_three {
        max-width: 100%;
    }

    .blog_list_grid {
        display: flex;
        flex-direction: column;
    }

    .blog_item {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .blog_img {
        width: 100%;
        height: auto;
    }

    .blog_info {
        padding: 24px 32px;
    }

}