:root {
    /* --- Main Colors --- */
    --color-primary-white: #FFFFFF;
    --color-secondary-green: #18B26F;
    --color-brand-green-dark: #0C5A38;
    --color-brand-green-soft: #B6E9AF;
    --color-brand-yellow: #FCDC31;

    /* Black & White Colors */
    --color-footer-bg-black: #171717;
    --color-header-main-menu-black: #212934;

    --color-main-black: #1C1C1C;
    --color-secondary-black: #2B2B2B;
    --color-black-medium: #262626;
    --color-black-light: #383838;
    --color-gray-hard: #9EA0A4;
    --color-gray-normal: #D4D4D4;
    --color-gray-light: #E0E0E0;
    --color-white-light: #F4F4F4;

    /* ETS Colors */
    --color-pink: #F8EDFD;
    --color-blue: #1967D2;
    --color-purple: #250943;
    --color-green: #063D1C;

    /* Typography Colors */
    --color-heading-text-black: var(--color-main-black);
    --color-heading-text-white: var(--color-primary-white);
    --color-btn-text-white: var(--color-primary-white);
    --color-btn-text-black: var(--color-main-black);
    --color-btn-text-green: var(--color-brand-green-dark);
    --color-body-text-black: var(--color-black-light);
    --color-body-text-white: var(--color-primary-white);
    --color-body-text-gray: var(--color-gray-normal);
    --color-body-text-gray-hover: var(--color-gray-light);


    --color: var(--color-black-light);

    /* Background Header Colors */
    --color-header-bg: #F7FEF6;

    /* Typography Header Colors */
    --color-header-main-menu: var(--color-header-main-menu-black);
    --color-header-main-menu-hover: var(--color-secondary-green);
    --color-header-burger-menu: var(--color-main-black);
    --color-header-burger-menu-hover: var(--color-secondary-green);

    /* --- Footer Background Colors --- */
    --color-footer-bg: var(--color-footer-bg-black);
    --color-footer-bg-highlight: var(--color-black-light);

    /* --- Footer Typography Colors --- */
    --color-footer-title: var(--color-brand-green-soft);
    --color-footer-text: var(--color-gray-normal);
    --color-footer-text-hover: var(--color-gray-light);
    --color-footer-text-highlight: var(--color-primary-white);
    --color-footer-info-highlight: var(--color-secondary-green);

    /* --- Button Colors --- */
    --color-btn-green: var(--color-secondary-green);
    --color-btn-hover-green-dark: var(--color-brand-green-dark);
    --color-btn-yellow: var(--color-brand-yellow);
    --color-btn-default-green-soft: var(--color-brand-green-soft);
    --color-btn-default-black: var(--color-main-black);
    --color-btn-hover-black: var(--color-black-light);
    --color-btn-hover-white: var(--color-primary-white);
    --color-btn-border-white: var(--color-primary-white);


    /* --- Card Colors --- */
    --color-card-comment: var(--color-white-light);
    --color-card-green-dark: var(--color-green);
    --color-card-purple: var(--color-purple);
    --color-card-pink: var(--color-pink);
    --color-card-section-hover-blue: var(--color-blue);
}