/* === button setting === soowenglok */
.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--bdt-btn-font-size);
    font-weight: var(--bdt-semibold-font-weight);
    letter-spacing: var(--bdt-ui-components-letter-spacing);
    padding: var(--btn-padding-big);
    border-radius: var(--btn-radius-default);
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    margin: 10px;
}

.btn-green-arrow::before,
.btn-black-arrow::before,
.btn-white-arrow::before {
    content: "\ea6a";
    font-family: 'remixicon';
    position: absolute;
    left: 100px;
    transform: translateX(-100px);
    opacity: 0;
    transition: all 0.5s ease;
    font-size: var(--bdt-btn-font-size);
    z-index: 3;
}

.btn i,
.btn a {
    transition: transform 0.3s ease, opacity 0.4s ease;
}

.btn-white-arrow::before {
    color: var(--color-btn-hover-white);
}

.btn-black-arrow::before {
    color: var(--color-btn-hover-black);
}

.btn-green-arrow::before {
    color: var(--color-btn-hover-green-dark);
}

.btn:hover::before {
    transform: translateX(-75px);
    opacity: 1;
}

.btn:hover a {
    transform: translateX(15px);
}

.btn:hover i {
    transform: translateX(30px);
    opacity: 0;
}

.btn-padding-small {
    padding: var(--btn-padding-small);
}

/* === button font color === */

.btn-white-font {
    color: var(--color-btn-text-white);
}

.btn-black-font {
    color: var(--color-btn-text-black);
}

.btn-green-font {
    color: var(--color-btn-text-green);
}

/* === button color === */
.btn-default-color-yellow {
    background-color: var(--color-btn-yellow);
}

.btn-default-color-green-light {
    background-color: var(--color-btn-default-green-soft);
}

.btn-default-color-green {
    background-color: var(--color-btn-green);
}

.btn-default-color-black {
    background-color: var(--color-btn-default-black);
    border: 2px solid var(--color-primary-white);
}

/* === button hover === */
.btn-hover-white:hover {
    background-color: var(--color-btn-hover-white);
}

.btn-hover-green-drak:hover {
    background-color: var(--color-btn-hover-green-dark);
}

.btn-hover-yellow:hover {
    background-color: var(--color-btn-yellow);
    border: 2px solid var(--color-btn-yellow);
}

.btn-hover-green:hover {
    background-color: var(--color-btn-green);
}

.btn-hover-black:hover {
    background-color: var(--color-btn-hover-black);
}

.btn-font-hover-black:hover a {
    color: var(--color-btn-hover-black);
}

.btn-font-hover-white:hover a {
    color: var(--color-btn-hover-white);
}

.btn-font-hover-green:hover a {
    color: var(--color-btn-hover-green-dark);
}

/* === button underline section === */
.btn-underline {
    border: none;
    box-shadow: 0px 2px 0px var(--color-gray-hard);
    transition: all 0.3s;
}

.btn-underline:hover {
    box-shadow: 0px 2px 0px var(--color-btn-default-black);
}

.btn-transparent {
    border-radius: 0px;
}

/* === button full width === */
.btn-full-width {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--bdt-btn-font-size);
    font-weight: var(--bdt-semibold-font-weight);
    padding: var(--btn-padding-big);
    border-radius: var(--btn-radius-default);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    text-decoration: none;
    width: 100%;
    margin: 10px 0px;
}

.btn-full-width:hover::before {
    transform: translateX(-90px);
}

.mb-full-width {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--bdt-btn-font-size);
    font-weight: var(--bdt-semibold-font-weight);
    padding: var(--btn-padding-big);
    border-radius: var(--btn-radius-default);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    text-decoration: none;
    width: 100%;
    margin: 10px 0px;
}

.mb-full-width {
    display: none;
}

@media only screen and (max-width: 820px) {
    .mb-full-width {
        display: block;
        text-align: center;
    }

    .mb-btn-full-width {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--bdt-btn-font-size);
        font-weight: var(--bdt-semibold-font-weight);
        padding: var(--btn-padding-big);
        border-radius: var(--btn-radius-default);
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        border: none;
        text-decoration: none;
        width: 100%;
        margin: 10px 0px;
    }
}