@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body setting & default soowenglok*/
body {
    font-family: var(--font-family);
    color: var(--color-body-text-black);
    background: var(--color-);
    max-width: 1440px;
    min-width: 480px;
    margin: auto;
}

.hero-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 40px;
    gap: 30px;
}

.hero-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-secondary-green);
    flex: 1.5;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}

.hero-title {
    font-size: var(--hd-herotitle-font-size);
    font-weight: var(--hd-medium-font-weight);
    letter-spacing: var(--hd-letter-spacing);
    color: var(--color-primary-white);
    line-height: var(--line-height-heading-light);
    margin-bottom: 20px;
}

.hero-text {
    font-size: var(--bdt-banner-bodytext-s-font-size);
    font-weight: var(--bdt-light-font-weight);
    letter-spacing: var(--bdt-tight-letter-spacing);
    color: var(--color-primary-white);
    margin-bottom: 16px;
}

.hero-image {
    flex: 1;
    border-radius: 20px;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-part {
    margin: var(--dt-body-padding);
}

img {
    border-radius: 20px;
}

a {
    text-decoration: none;
}

.text-canter {
    text-align: center;
}

.flex-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-default);
}

.row-flex-no-gap {
    display: flex;
    flex-wrap: wrap;
}

.gap-default {
    gap: var(--gap-default);
}

.marking-green {
    position: relative;
    display: inline-block;
}

.marking-green:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    border-top: 12px solid color-mix(in srgb, var(--color-secondary-green), transparent 60%);
    width: 100%;
    z-index: -10;
}

.marking-yellow {
    position: relative;
    display: inline-block;
}

.marking-yellow:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    border-top: 12px solid color-mix(in srgb, var(--color-yellow), transparent 60%);
    width: 100%;
    z-index: -10;
}


.marking-yellow-green {
    position: relative;
    display: inline-block;
}

.marking-yellow-green:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    border-top: 12px solid color-mix(in srgb, var(--color-yellow), transparent 80%);
    width: 100%;
    z-index: -10;
}


@media only screen and (max-width: 1200px) {
    .hero-container {
        padding: 0;
    }

    .hero-card {
        padding: 80px 40px;
    }

    .section-part {
        margin: var(--tb-mb-body-padding);
    }
}


@media only screen and (max-width: 820px) {
    .hero-image {
        display: none;
    }

    .hero-title {
        font-size: var(--mb-hd-herotitle-font-size);
    }

    .row-flex-no-gap,
    .row-flex {
        flex-direction: column;
        gap: 20px;
    }

}