@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* body setting & default soowenglok*/
body {
    font-family: var(--font-family);
    color: var(--color-body-text-black);
    background: var(--color-);
    padding: var(--dt-body-padding);
}

img {
    border-radius: 20px;
}

a {
    text-decoration: none;
}

.text-canter {
    text-align: center;
}

.flex-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-default);
}

.gap-default {
    gap: var(--gap-default);
}

@media only screen and (max-width: 1200px) {
    body {
        padding: var(--tb-mb-body-padding);
    }
}