/* Footer katherineang*/
/* === input katherineang === */
.form-title {
    font-size: 24px;
    margin-bottom: 30px;
}

.input,
.textarea {
    width: 100%;
    padding: var(--btn-input-padding);
    border: 0px solid var(--color-gray-hard);
    border-radius: var(--btn-radius-default);
    background-color: var(--color-primary-white);
    font-size: var(--bdt-btn-font-size);
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.textarea {
    min-height: 120px;
    overflow: auto;
}

.input:hover,
.textarea:hover {
    border: 1.5px solid var(--color-secondary-green);
}