:root {
    /* Black & White Colors */
    --color-black: #1C1C1C;
    --color-text-muted: #9EA0A4;
    --color-border: #E0E0E0;
    --color-bg-light: #F4F4F4;
    --color-bg-x: #D4D4D4;
    --color-bg-xx: #2B2B2B;
    --color-bg-xxxxxx: #F8EDFD;
    --color-black-light: #262626;
    --color-text-body: #383838;
    --color-heading-text: #212934;
    --color-footer-bg: #171717;
}

:root {
    /* --- Main Colors --- */
    --color-primary-white: #FFFFFF;
    --color-secondary-green: #18B26F;
    --color-brand-green-dark: #0C5A38;
    --color-brand-green-soft: #B6E9AF;
    --color-brand-yellow-main: #FCDC31;

    /* Black & White Colors */

    /* Typography Colors */
    --color-heading-text: #1C1C1C;

    /* Typography Header Colors */
    --color-header-title: #1C1C1C;

    /* --- Button Colors --- */
    --color-btn-green: #18B26F;
    --color-btn-hover-green-dark: #0C5A38;
    --color-btn-yellow: #FCDC31;
    --color-btn-default-green-soft: #B6E9AF;
    --color-btn-default-black: #1C1C1C;
    --color-btn-hover-black: #383838;
    --color-btn-border-white: #FFFFFF;


    /* --- Card Colors --- */
    --color-card-green-dark: #063D1C;
    --color-card-purple: #250943;
    --color-card-pink: #F8EDFD;
    --color-card-section-hover-blue: #1967D2;
}