 @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

 #body {
     margin: auto;
     max-width: 1920px;
 }

 body {
     margin: 10px 8%;
     font-family: "Space Grotesk", sans-serif;
 }

 /*上面bar*/
 div.header_bar {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 div.header_bar_logo {
     width: 310px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 div.header_logo {
     width: 40px;
     height: 40px;
 }

 div.logo_text {
     width: 85%;
     font-size: 60px;
     font-weight: bold;
 }

 div.header_container {
     display: flex;
     font-size: 20px;
     gap: 40px;
     align-items: center;
 }

 div.request {
     border: 1.5px solid;
     border-radius: 10px;
     padding: 20px 35px;
 }

 /*上面bar*/
 /*start with hide*/
 div.mobile.menu {
     display: none;
 }

 /*start with hide*/